.hidden{
    display:none;
}
.yes{
    background: green !important;

}
.no{
    background: red !important;
}
.question{
    width: 890px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.question h3{
    background:Aqua;
    text-align:center;
    height: 100px;
}
.answers div{
    background-color: #00b0ff;
    margin: 0 5px 5px 5px;
    text-align:center;
    cursor: pointer;
    color: black;
    width: 440px;
    height: 100px;
}
.answers {
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.content{
    width: 900px;
}
.page{
    display: flex;
    justify-content: center;
}