body{
    padding-top: 200px;
}
.hidden{
    display:none;
}
.yes{
    background: green !important;

}
.no{
    background: red !important;
}
.question{
    width: 890px;
    margin-left: 5px;
    margin-bottom: 5px;

}
.question h3{
    background:#ff2052;
    text-align:center;
    height: 55px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 200%;
    padding-top: 20px;

}
.answers div{
    background-color: #00b0ff;
    margin: 0 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    color: black;
    width: 440px;
    height: 52px;
    height: 59px;
    padding-top: 34px;
    font-family: "Arial Black", Gadget, sans-serif;
}
.answers {
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.content{
    width: 900px;
}
.page{
    display: flex;
    justify-content: center;
}
